*{
	font-family: times;
}
.border{

	border: 1px solid #15a4fa;
}

.header{
	min-height: 99px;
	background: #f6f9f9;
}

.logo{
	margin-top: 31px;
	margin-left: 27px;
}

.banner{
	background: url(../images/banner.png) no-repeat;
	min-height: 800px;
	margin: 0 auto;
}

.content{
	margin: 0 auto;
	margin-top: 218px;
	max-width: 600px;
	min-height: 490px;
}

.content h1{
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	/*text-align: center;*/
	color: #fff;
	font-size: 120px;
	font-weight: 500px;
	border-bottom: 2px solid #15a4fa;
}
.content p{
	margin-top: 38px;
	/*text-align: center;*/
	color: #ffffff;
	font-size: 18px;
	min-height: 16px;
}
.action{
	min-height: 54px;
	width: 176px;
	margin: 0 auto;
	margin-top: 64px;
	border-radius: 3px;	
}
.action p{
	margin: -8px auto;
	padding: 21px 0;
	font-size: 18px;
}
.action p:hover{
	color: #ededed;
	text-decoration: none;
}
.img{
	/*margin: 0 auto;*/
	margin-top: 180px;
}
.text-description{
	background-color: #f6f9f9;
	min-height: 338px;
}
	.text-description h1{
		margin-top: 79px;
		text-align: center;
	}
	.text-description p{
		margin-top: 38px;
		text-align: center;
		font-size: 19px;
	}
.features{
	min-height: 340px;
	background: #ffffff;
	text-align: center;
}
	.icon_res{
		margin-top: 65px;
	}
		.icon_res h3{
			padding-top: 32px;
			padding-bottom: 21px;
			font-size: 22px;
		}
		.icon_res p{
			font-size: 15px;
		}
	.icon_clean{
		margin-top: 65px;
	}
		.icon_clean h3{
			padding-top: 32px;
			padding-bottom: 21px;
			font-size: 22px;
		}
		.icon_clean p{
			font-size: 15px;
		}
	.icon_awesome{
		margin-top: 65px;
	}
		.icon_awesome h3{
			padding-top: 32px;
			padding-bottom: 21px;
			font-size: 22px;
		}
		.icon_awesome p{
			font-size: 15px;
		}

	.showcase{
		min-height: 900px;
		background: #f6f9f9;
		text-align: center;
	}
		.showcase h1{
			padding-top: 80px;
		}
	.port_padding{
		padding-top: 30px;
	}
.stay{
	background: url(../images/stay.png) no-repeat;
	min-height: 698px;
	width: 100%;
	margin-top: 23px;
}

.foot{
	height: 90px;
}